body {
  margin: 0px;
  padding:  5px;
  
}

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.sideMenu{
  overflow: 'auto';
  position: 'fixed';
  left: 0;
  top: 0;
  bottom: 0;
  background: #28282e;
  width: 10vh !important;
  height: 100vh;
}

.division{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: 400;
  height: 80px;
  font-size: 18px;
  background-color: #1fb5ad;
}


